@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

Select {
  font-family: inherit; /* 폰트 상속 */
  /* 네이티브 화살표를 커스텀 화살표로 대체 */
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

Select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


html {
  font-family: "Montserrat", "Pretendard", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #000000;
}

body {
  min-width: 360px;
}

.inner {
  max-width: 616px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  font-size: 24px;
  font-weight: bold;
  background-color: #B1D6DB;
}
.header .hamburger {
  width: 80px;
  height: 80px;
  background: url(../public/img/hamburger.svg) center no-repeat;
}
.header .inner {
  max-width: 1220px;
  height: 80px;
  display: flex;
  align-items: center;
}

.article1 {
  margin-top: 63px;
  margin-bottom: 80px;
}
.article1 .tagWrap {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}
.article1 .tagWrap .tag {
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  padding: 0 12px;
  display: inline-flex;
  border: 1px solid #000;
  border-radius: 50px;
}
.article1 .tagWrap .tag.purple {
  background-color: #9099FF;
}
.article1 .tagWrap .tag.pink {
  background-color: #FF7EFC;
}
.article1 .tagWrap .tag.blue {
  background-color: #6ABAFF;
}
.article1 .tagWrap .tag.green {
  background-color: #29DDB9;
}
.article1 .tagWrap .tag.red {
  background-color: #FF8096;
}
.article1 h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}
.article1 .subTit {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 48px;
}
.article1 .keyImg {
  margin: 48px 0;
}
.article1 .keyImg img {
  width: 100%;
}
.article1 .infoBx {
  padding: 20px;
  border: 1px solid #000;
  background-color: #F2F2F2;
  box-sizing: border-box;
}
.article1 .infoBx .tit {
  font-size: 18px;
  font-weight: bold;
}
.article1 .infoBx .list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}
.article1 .infoBx .list .item {
  position: relative;
  padding-left: 16px;
  line-height: 1.5;
}
.article1 .infoBx .list .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: #000;
}
.article1 .infoBx .list .item h3 {
  font-size: 16px;
  font-weight: 600;
}
.article1 .infoBx .list .item p {
  font-size: 16px;
}

.article1 + .article2 {
  margin-top: 80px;
}

.article2 {
  margin-top: 110px;
}
.article2 .titWrap {
  padding-bottom: 28px;
  margin-bottom: 28px;
}
.article2.orange .titWrap {
  border-bottom: 1px solid #FAAD33;
}
.article2.blue .titWrap {
  border-bottom: 1px solid #81C0FF;
}
.article2.green .titWrap {
  border-bottom: 1px solid #5AE093;
}
.article2 h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}
.article2 p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}
.article2.orange h3 {
  color: #FF7600;
}
.article2.blue h3 {
  color: #3198FF;
}
.article2.green h3 {
  color: #0DBC58;
}

.contents + .contents {
  margin-top: 80px;
}
.contents .imgWrap {
  text-align: right;
}
.contents .imgWrap img {
  width: 100%;
}
.contents .imgWrap .caption {
  font-size: 12px;
  color: #707070;
  margin-top: 4px;
}
.contents .imgWrap + .imgWrap {
  margin-top: 16px;
}
.contents .tagWrap {
  display: flex;
  gap: 12px;
  margin-top: 32px;
  margin-bottom: 8px;
}
.contents .tagWrap .tag {
  display: none;
  font-size: 14px;
  color: #707070;
  align-items: center;
  height: 28px;
  border-radius: 40px;
  box-sizing: border-box;
  border: 1px solid #707070;
  padding: 0 12px;
}
.contents .tagWrap .tag.dog, .contents .tagWrap .tag.kiz, .contents .tagWrap .tag.obs {
  display: inline-flex;
}
.contents .tagWrap .tag.dog::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../public/img/ic_dog.svg) center no-repeat;
}
.contents .tagWrap .tag.kiz::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../public/img/ic_kiz.svg) center no-repeat;
}
.contents .tagWrap .tag.obs::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../public/img/ic_obs.svg) center no-repeat;
}
.contents .conTit {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}
.contents .location {
  position: relative;
  padding-left: 20px;
  line-height: 20px;
  margin-bottom: 28px;
}
.contents .location::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../public/img/ic_location.svg) center no-repeat;
}
.contents .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 28px;
}
.contents .checkList {
  padding-top: 24px;
  border-top: 1px solid #707070;
}
.contents .checkList .tit {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding-left: 20px;
  position: relative;
}
.contents .checkList .tit::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../public/img/ic_checkList.svg) center no-repeat;
  margin-bottom: 16px;
}
.contents .checkList .listWrap {
  padding-left: 20px;
  padding-top: 16px;
}
.contents .checkList .list {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  padding-left: 20px;
  color: #000;
}
.contents .checkList .list a {
  color: inherit;
}
.contents .checkList .list::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../public/img/ic_check.svg) center no-repeat;
}
.contents .checkList .list + .list {
  margin-top: 12px;
}
.contents .stayLink {
  text-align: center;
  margin-top: 40px;
}
.contents .stayLink .stayBtn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  padding: 0 12px;
  border-radius: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
}
.contents .stayLink.orange .stayBtn {
  background-color: #FAAD33;
}
.contents .stayLink.blue .stayBtn {
  background-color: #81C0FF;
}
.contents .stayLink.green .stayBtn {
  background-color: #5AE093;
}

.recommend {
  margin-top: 80px;
  margin-bottom: 230px;
}
.recommend .tit {
  padding-top: 32px;
  border-top: 1px solid #707070;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 28px;
}
.recommend .card + .card {
  margin-top: 20px;
}
.recommend .card {
  display: flex;
  border: 1px solid #000;
  box-sizing: border-box;
  min-height: 208px;
}
.recommend .card .imgWrap {
  width: 35.3%;
  aspect-ratio: 1/1;
  flex: 0 0 auto;
}
.recommend .card .imgWrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recommend .card .rightCon {
  flex: 1 0 0;
  padding: 17px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.recommend .card .keyword {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.recommend .card .keyword .item {
  font-size: 14px;
  line-height: 26px;
  padding: 0 12px;
  border-radius: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
}
.recommend .card .keyword .item.NEWS {
  background-color: #FFDB43;
}
.recommend .card .keyword .item.HOW-TO {
  background-color: #B4FA6B;
}
.recommend .card .keyword .item.PEOPLE {
  background-color: #FF8096;
}
.recommend .card .keyword .item.BRAND {
  background-color: #29DDB9;
}
.recommend .card .keyword .item.SPACE {
  background-color: #9099FF;
}
.recommend .card .conTit {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}
.recommend .card .desc {
  font-size: 16px;
  line-height: 1.5;
}

.article3 {
  margin-top: 80px;
}
.article3 .em {
  font-size: 18px;
  color: #151515;
  margin-bottom: 8px;
}
.article3 .tit {
  font-size: 24px;
  margin-bottom: 28px;
}
.article3 .imgWrap img {
  width: 100%;
}
.article3 p {
  margin-top: 28px;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 28px;
}
.article3 .location {
  position: relative;
  padding-left: 20px;
  line-height: 20px;
  margin-bottom: 28px;
}
.article3 .location::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../public/img/ic_location.svg) center no-repeat;
}
.article3 .location {
  line-height: 1.5;
}
.article3 .orderOnline {
  text-align: center;
  margin-top: 40px;
}
.article3 .orderOnline .orderBtn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  padding: 0 12px;
  border-radius: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  background-color: #D9C8C2;
}/*# sourceMappingURL=index.css.map */