@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

Select {
  font-family: inherit; /* 폰트 상속 */
  /* 네이티브 화살표를 커스텀 화살표로 대체 */
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

Select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


html {
  font-family: "Montserrat", "Pretendard", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #000000;
}

body {
  min-width: 360px;
}

.displayNone {
  display: none !important;
}

.inner {
  max-width: 616px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.inner380 .inner {
  max-width: 616px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 410px;
}
.inner380 .article1 h2 {
  font-size: 30px;
}
.inner380 .article1 .subTit {
  margin-bottom: 0;
}
.inner380 .article1 .keyImg {
  margin: 0;
}
.inner380 .article1 .keyImg img {
  display: block;
}
.inner380 .fullImg {
  display: block;
  width: 100%;
  margin: 0;
}

.header {
  font-size: 24px;
  font-weight: bold;
  background-color: #B1D6DB;
  background-color: #FFCF4B;
  border-bottom: 1px solid #000;
}
.header .hamburger {
  width: 24px;
  height: 24px;
  background: url(../public/img/hamburger.svg) center no-repeat;
}
.header .inner {
  max-width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 30px;
  transition: 0.3s;
}
.header .left {
  display: flex;
  align-items: center;
  gap: 56px;
  transition: 0.3s;
}
.header .tit {
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  .header .inner {
    padding: 0 20px;
  }
  .header .left {
    gap: 30px;
  }
}

.d-pc {
  display: block !important;
}

.d-mobile {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .d-pc {
    display: none !important;
  }
  .d-mobile {
    display: block !important;
  }
}
.search {
  position: relative;
}
.search input {
  font-size: 14px;
  width: 283px;
  height: 36px;
  border: 1px solid #707070;
  padding: 0 20px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 100px;
  outline: 0;
}
.search input ::-moz-placeholder {
  color: #969696;
}
.search input ::placeholder {
  color: #969696;
}
.search .btn {
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../public/img/ic_search.svg) center no-repeat;
  border: 0;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  text-indent: -9999px;
  overflow: hidden;
  transition: 0.3s;
}
.search.d-mobile .btn {
  right: 0;
}

.article1 {
  transition: 0.3s;
  margin-top: 63px;
  margin-bottom: 80px;
}
.article1 .keyword {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 340px;
  margin-bottom: 24px;
}
.article1 .keyword .item {
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  padding: 0 8px;
  border-radius: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
}
.article1 .keyword .item.NEWS {
  background-color: #FFDB43;
}
.article1 .keyword .item.BRAND {
  background-color: #29DDB9;
}
.article1 .keyword .item.TRAVEL {
  background-color: #9099FF;
}
.article1 .keyword .item.ACTIVITY {
  background-color: #FF7EFC;
}
.article1 .keyword .item.HISTORY {
  background-color: #6ABAFF;
}
.article1 .keyword .item.HOW-TO {
  background-color: #B4FA6B;
}
.article1 .keyword .item.PEOPLE {
  background-color: #FF8096;
}
.article1 .keyword .item.SPACE {
  background-color: #A7E8F4;
}
.article1 h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}
.article1 .subTit {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 48px;
}
.article1 .keyImg {
  margin: 48px 0;
}
.article1 .keyImg img {
  width: 100%;
}
.article1 .infoBx {
  padding: 20px;
  border: 1px solid #000;
  background-color: #F2F2F2;
  box-sizing: border-box;
}
.article1 .infoBx .tit {
  font-size: 18px;
  font-weight: bold;
}
.article1 .infoBx .list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}
.article1 .infoBx .list .item {
  position: relative;
  padding-left: 16px;
  line-height: 1.5;
}
.article1 .infoBx .list .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: #000;
}
.article1 .infoBx .list .item h3 {
  font-size: 16px;
  font-weight: 600;
}
.article1 .infoBx .list .item p {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .article1 {
    margin-top: 36px;
  }
}

.article1 + .article2 {
  margin-top: 80px;
}

.article2 {
  margin-top: 110px;
}
.article2 .titWrap {
  padding-bottom: 28px;
  margin-bottom: 28px;
}
.article2.orange .titWrap {
  border-bottom: 1px solid #FAAD33;
}
.article2.blue .titWrap {
  border-bottom: 1px solid #81C0FF;
}
.article2.green .titWrap {
  border-bottom: 1px solid #5AE093;
}
.article2 h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}
.article2 p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}
.article2.orange h3 {
  color: #FF7600;
}
.article2.blue h3 {
  color: #3198FF;
}
.article2.green h3 {
  color: #0DBC58;
}

.contents + .contents {
  margin-top: 80px;
}
.contents .imgWrap {
  text-align: right;
}
.contents .imgWrap img {
  width: 100%;
}
.contents .imgWrap .caption {
  font-size: 12px;
  color: #707070;
  margin-top: 4px;
}
.contents .imgWrap + .imgWrap {
  margin-top: 16px;
}
.contents .itemWrap {
  display: flex;
  gap: 12px;
  margin-top: 32px;
  margin-bottom: 8px;
}
.contents .itemWrap .tag {
  display: none;
  font-size: 14px;
  color: #707070;
  align-items: center;
  height: 28px;
  border-radius: 40px;
  box-sizing: border-box;
  border: 1px solid #707070;
  padding: 0 12px;
}
.contents .itemWrap .tag.dog, .contents .itemWrap .tag.kiz, .contents .itemWrap .tag.obs {
  display: inline-flex;
}
.contents .itemWrap .tag.dog::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../public/img/ic_dog.svg) center no-repeat;
}
.contents .itemWrap .tag.kiz::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../public/img/ic_kiz.svg) center no-repeat;
}
.contents .itemWrap .tag.obs::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../public/img/ic_obs.svg) center no-repeat;
}
.contents .conTit {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}
.contents .location {
  position: relative;
  padding-left: 20px;
  line-height: 20px;
  margin-bottom: 28px;
}
.contents .location::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../public/img/ic_location.svg) center no-repeat;
}
.contents .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 28px;
}
.contents .checkList {
  padding-top: 24px;
  border-top: 1px solid #707070;
}
.contents .checkList .tit {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding-left: 20px;
  position: relative;
}
.contents .checkList .tit::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../public/img/ic_checkList.svg) center no-repeat;
  margin-bottom: 16px;
}
.contents .checkList .listWrap {
  padding-left: 20px;
  padding-top: 16px;
}
.contents .checkList .list {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  padding-left: 20px;
  color: #000;
}
.contents .checkList .list a {
  color: inherit;
}
.contents .checkList .list::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../public/img/ic_check.svg) center no-repeat;
}
.contents .checkList .list + .list {
  margin-top: 12px;
}
.contents .stayLink {
  text-align: center;
  margin-top: 40px;
}
.contents .stayLink .stayBtn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  padding: 0 12px;
  border-radius: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
}
.contents .stayLink.orange .stayBtn {
  background-color: #FAAD33;
}
.contents .stayLink.blue .stayBtn {
  background-color: #81C0FF;
}
.contents .stayLink.green .stayBtn {
  background-color: #5AE093;
}
.contents .detailInfo {
  padding-top: 12px;
  margin-top: 28px;
  border-top: 1px solid #707070;
}
.contents .detailInfo table {
  table-layout: fixed;
  width: 100%;
}
.contents .detailInfo th, .contents .detailInfo td {
  padding-top: 12px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
.contents .detailInfo th {
  font-family: "Pretendard";
  width: 60px;
  font-weight: bold;
}
.contents .detailInfo td {
  padding-left: 12px;
}
.contents .detailInfo a {
  font-family: "Pretendard";
  color: inherit;
}
.contents.contents2 .cate {
  font-size: 20px;
  font-weight: bold;
  font-family: "Pretendard";
  margin-bottom: 8px;
}
.contents.contents2 .cate.YOGA {
  color: #6ABAFF;
}
.contents.contents2 .cate.FOOD {
  color: #FF9055;
}
.contents.contents2 .cate.TEA {
  color: #29DDB9;
}
.contents.contents2 .cate.DRAWING {
  color: #FF8096;
}
.contents.contents2 .cate.CRAFT {
  color: #9099FF;
}
.contents.contents2 .conTit {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 8px;
}
.contents.contents2 .itemWrap {
  margin: 0;
  margin-bottom: 28px;
}
.contents.contents2 .desc {
  margin-top: 28px;
}
.recommend {
  margin-top: 80px;
  margin-bottom: 230px;
}
.recommend .tit {
  padding-top: 32px;
  border-top: 1px solid #707070;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 28px;
}
.recommend .cardWrap {
  display: flex;
  gap: 16px;
}
.recommend .card {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  border: 1px solid #000;
  box-sizing: border-box;
  min-height: 208px;
}
.recommend .card .imgWrap {
  width: 100%;
  aspect-ratio: 285/210;
}
.recommend .card .imgWrap img {
  display: block;
  aspect-ratio: 285/210;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recommend .card .rightCon {
  flex: 1 0 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.recommend .card .keyword {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 340px;
}
.recommend .card .keyword .item {
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  padding: 0 8px;
  border-radius: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
}
.recommend .card .keyword .item.NEWS {
  background-color: #FFDB43;
}
.recommend .card .keyword .item.BRAND {
  background-color: #29DDB9;
}
.recommend .card .keyword .item.TRAVEL {
  background-color: #9099FF;
}
.recommend .card .keyword .item.ACTIVITY {
  background-color: #FF7EFC;
}
.recommend .card .keyword .item.HISTORY {
  background-color: #6ABAFF;
}
.recommend .card .keyword .item.HOW-TO {
  background-color: #B4FA6B;
}
.recommend .card .keyword .item.PEOPLE {
  background-color: #FF8096;
}
.recommend .card .keyword .item.SPACE {
  background-color: #A7E8F4;
}
.recommend .card .conTit {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
.recommend .card .desc {
  font-size: 16px;
  line-height: 1.5;
}

.article3 {
  margin-top: 80px;
}
.article3 .em {
  font-size: 18px;
  font-weight: bold;
  color: #151515;
  margin-bottom: 8px;
}
.article3 .tit {
  font-size: 24px;
  margin-bottom: 28px;
  font-weight: bold;
}
.article3 .imgWrap img {
  width: 100%;
}
.article3 p {
  margin-top: 28px;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 28px;
}
.article3 .location {
  position: relative;
  padding-left: 20px;
  line-height: 20px;
  margin-bottom: 28px;
}
.article3 .location::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../public/img/ic_location.svg) center no-repeat;
}
.article3 .location {
  line-height: 1.5;
}
.article3 .orderOnline {
  text-align: center;
  margin-top: 40px;
}
.article3 .orderOnline .orderBtn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  padding: 0 12px;
  border-radius: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  background-color: #D9C8C2;
}

.listGroupWrap {
  margin-bottom: 80px;
  margin-top: -80px;
  padding-top: 28px;
}
.listGroupWrap .keyImg {
  margin-top: 80px;
  margin-bottom: 28px;
}
.listGroupWrap .keyImg img {
  width: 100%;
}
.listGroupWrap .badgeLink {
  margin: 24px 0;
}
.listGroupWrap .badgeLink a {
  padding: 8px 12px;
  border: 1px solid #000;
  border-radius: 30px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #3198FF;
  text-decoration: none;
}

.listGroup {
  font-size: 18px;
  font-family: "Pretendard";
  line-height: 1.5;
}
.listGroup + .listGroup {
  margin-top: 24px;
}
.listGroup .listTit {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.listGroup .listTit .num {
  font-family: "Pretendard";
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3198FF;
  border-radius: 20px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}
.listGroup .listTit .num + .num {
  margin-left: -4px;
}
.listGroup .listTit .tit {
  font-weight: bold;
}

.reactSlick {
  padding-bottom: 23px;
  margin-bottom: 80px;
}
.reactSlick img {
  width: 100%;
}
.reactSlick .slick-slide div {
  outline: 0;
}
.reactSlick .slick-dots li {
  margin: 0;
}
.reactSlick .slick-dots li button {
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-indent: -9999px;
  overflow: hidden;
}
.reactSlick .slick-dots li button::before {
  position: static;
  opacity: 1;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #707070;
  box-sizing: border-box;
}
.reactSlick .slick-dots li.slick-active button::before {
  border: 0;
  background-color: #3198FF;
}

.postImg {
  margin-bottom: 80px;
}
.postImg img {
  width: 100%;
}

.contents3 {
  margin-bottom: 28px;
}
.contents3 h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 28px;
}
.contents3 h4 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 12px;
}
.contents3 p {
  font-size: 18px;
  line-height: 2;
}
.contents3 .insta {
  font-family: "Pretendard";
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #707070;
  padding-left: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  background: url(../public/img/ic_insta.svg) left center/32px no-repeat;
}/*# sourceMappingURL=index.css.map */